body {
  color: white;
  background-color: #000000
}
.solid{
  border-style: solid;
  border-color: white;
  border-width: 1px;
}
.center{
  position:absolute;
      height: x px;
      width: y px;
      left:45%;
      top:5%;
      margin-top:- x/2 px;
      margin-left:- y/2 px;
}

div {
  opacity: 1;
}


p {
  text-align: center;
    font-size: 13px;
    font-family: "Arial", Arial, sans-serif;

}
