body {
  color: white;
  background-color: #000000
}
.solid{
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div {
  opacity: 1;
}


p {
  text-align: center;
    font-size: 13px;
    font-family: "Arial", Arial, sans-serif;

}

ul {
  list-style: none;
}
