body {
  color: white;
  background-color: #000000
}
.content{

}
.center{
  position:absolute;
      height: x px;
      width: y px;
      left:45%;
      top:5%;
      margin-top:- x/2 px;
      margin-left:- y/2 px;
}

div {
  opacity: 1;
}



p {
  text-align: center;
    font-size: 10px;
    font-family: "Arial", Arial, sans-serif;

}
