body {
  background-color: white;
}

.frame {
  width: 1000px;
  height: 600px;
  background: #E9BEAB;
  margin: 30px auto;
  position: relative;
}

.tablecloth {
  position:absolute;
  width:800px;
  height:100px;
  background-color:grey;
  left:100px;
  bottom:1px;
}

.table {
  position:absolute;
  background-color:#d1d1d1;
  width:800px;
  height:20px;
  left:100px;
  bottom:100px;
}

.candle {
  position: absolute;
  background-color: ;
  width: 42px;
  height: 48px;
  left: 563px;
  bottom: 120px;
}

.candle-glass {
  position: absolute;
  background-color: #F2F1F0;
  width: 42px;
  height: 57px;
  left: 563px;
  bottom: 120px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
}

.vase {
  position: absolute;
  background-color: #f9f9d1;
  width: 100px;
  height: 157px;
  left: 600px;
  bottom: 120px;
  border-radius: 10px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
 }

 .vase-top {
   position: absolute;
   background-color: #f9f9d1;
   width: 42px;
   height: 135px;
   left: 628px;
   bottom: 177px;
   border-radius: 10px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.book-bottom {
  position: absolute;
  background-color: #D9E5EC;
  width: 248px;
  height: 31px;
  bottom: 120px;
  left: 290px;
 }

 .book-middle {
   position: absolute;
   background-color: #00BEB5;
   width: 221px;
   height: 47px;
   bottom: 151px;
   left: 290px;
  }

.book-top {
   position: absolute;
   background-color: #F6EBD8;
   width: 140px;
   height: 24px;
   bottom: 198px;
   left: 298px;
}


.flower1 {
  position: absolute;
  background-color: purple;
  width: 20px;
  height: 23px;
  left: 620px;
  bottom: 364px;
  border-radius: 100px;
  transform: rotate(-25deg);
}

.flower-stem1 {
  position: absolute;
  background-color: lightgreen;
  width: 6px;
  height: 69px;
  left: 632px;
  bottom: 311px;
  transform: rotate(165deg);
}

.flower1yellow {
  position: absolute;
  background-color: yellow;
  width: 10px;
  height: 15px;
  left: 624px;
  bottom: 379px;
  border-radius: 100px;
  transform: rotate(246deg);
}
.petal1 {
    width: 20px;
    height: 30px;
    position: absolute;
    bottom: 370px;
    left: 630px;
    border: 20px solid #7e56a0;
    box-shadow: -6px 6px 0px 0px rgba(0,0,0,0.1);
    border-radius: 100% 0;
}
.petal2 {
    width: 10px;
    height: 20px;
    position: absolute;
    bottom: 375px;
    left: 610px;
    border: 20px solid #7e56a0;
    box-shadow: -6px 6px 0px 0px rgba(0,0,0,0.1);
    border-radius: 0 100%;
    transform: rotate(230deg);
}
.flower2 {
  position: absolute;
  background-color: purple;
  width: 60px;
  height: 23px;
  left: 653px;
  bottom: 338px;
  border-radius: 100px;
  transform: rotate(10deg);
}

.flower-stem2 {
  position: absolute;
  background-color: lightgreen;
  width: 6px;
  height: 60px;
  left: 653px;
  bottom: 299px;
  transform: rotate(10deg)
}

.flower2yellow {
  position: absolute;
  background-color: yellow;
  width: 10px;
  height: 10px;
  left: 673px;
  bottom: 351px;
  border-radius: 300px;
  transform: rotate(105deg);
}


/* Your CSS goes here */
